name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1.2.0
      with:
        submodules: true
    - name: build
      run: msbuild vs/odbc64.sln
